@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  margin: 0;
  min-height: 100%;
}

#root {
  min-height: 100vh;
  background: linear-gradient(135deg , #010d12, #655858, #03141b);
  
}